<html>
<form name="myform" id="myform" action="{{ url_for("enter_commands")}}" method="post">
    <h1> Welcome to the Flask Terminal </h1>
    <label for="command">Enter Command:</label>
    <input type="text" id="command" oninvalid="InvalidMsg(this);" oninput="InvalidMsg(this);" name="command" placeholder="command" required>
    <button type="submit">Submit</button>
</form>

<script>
    function InvalidMsg(textbox) {
        let ACCEPTED_COMMANDS = ['mkdir', 'ls', 'rm', 'put', 'cat', 'rmdir'];
        let command_split = textbox.value.toString().split(" ");
        if (textbox.value === '') {
            textbox.setCustomValidity
                ('Entering a command is necessary!');
        } else if (ACCEPTED_COMMANDS.includes(command_split[0]) && command_split.length === 2) {
            textbox.setCustomValidity('');
        } else {
            textbox.setCustomValidity
                ('Please enter a command which is valid!');
        }
        return true;
    }
</script> 
</html>
